@charset "UTF-8";



@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.hidden
{
	display: none;
}

.container
{
  width: 983px;
  margin: auto;
  background-color: #fff;
  font-family: 'cooper_hewittsemibold', times, sans-serif;
}

.hero
{
  height: 384px;
  width: 983px;
  background: url(../images/hero_image.jpg) no-repeat bottom; 
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 
{
	position: absolute;
	top: 194px;
	left: 83px;
	font-family: 'cooper_hewittsemibold', times, sans-serif;
	font-size: 45.92px;
	color: #fff;
	line-height: 1.2;

}

#historyFirstPara
{
	text-align: center;
	margin-top: 62px;
	margin-bottom:48px;
	margin-left: 83px;
	margin-right: 73px; 
	font-size: 24px;
	color: #3e3e3e;
	line-height: 1.5;
}

.historyImages
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 65px;
	margin-right:93px;
}

.historyImg1
{
	display: flex;
	flex-direction:column;
	margin-left: 85px;
	width:319px;
	height: 317px;

}

.historyImg1Text
{
	margin-top: 40px;
	margin-bottom: 74px;
	text-align: justify;
	color: #3e3e3e;
	font-size: 16px;
	line-height: 1.2;
}

.historyImg2
{
	display: flex;
	flex-direction:column;
	margin-right: auto;
	margin-left: 165px; 
}

.historyImg2Text
{
	margin-bottom: 40px;
	text-align: justify;
	color: #3e3e3e;
	font-size: 16px;
	line-height: 1.2;
}

.whatWeDoHeavy
{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	color: #343434;
	font-size: 36px;
	line-height: 1.3;

}

.whatWeDoP1
{
	font-size: 20px;
	color: #3e3e3e;
	text-align: left;
	margin-left: 133px;
	margin-right: 140px;
	margin-top: 40px;
	margin-bottom: 55px;
}

.whatWeDoHeavy2
{
	font-family: 'Anton', sans-serif;
	letter-spacing: 3px;
	text-align: center;
	color: #343434;
	font-size: 36px;
	margin-top: 45px;
	margin-bottom: 25px;
}

.whatWeDoP2
{
	text-align: center;
	font-size: 19px;
	color: #3e3e3e;
	margin-bottom: 45px;
	margin-left: 83px;
	margin-right: 100px;
	line-height: 1.3;
}




.rainbowImages
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 65px;
	margin-left:83px;
}

.rainbowTitle
{
	font-family: 'Anton', sans-serif;
	font-size: 36px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 26px;
	color: #343434
}

.rainbowImg1
{
	display: flex;
	flex-direction:column;
	margin-right: 70px;
}

.rainbowImg1Text
{
	margin-top: 40px;
	text-align: justify;
	color: #3e3e3e;
	font-size: 16px;
	line-height: 1.3;
}

.rainbowImg2
{
	display: flex;
	flex-direction:column;
	margin-right: 66px;
}

.rainbowImg2Text
{
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: justify;
	color: #3e3e3e;
	font-size: 16px;
	line-height: 1.3;
}

#rainbowLastPara
{
	text-align: center;
	font-size: 19px;
	color: #3e3e3e;
	margin-bottom: 45px;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.3;
}

.source
{
	color: #3e3e3e;
	font-size: 16px;
	 text-align-last: right;
	 margin-right: 100px; 
	 margin-bottom: 30px;
}








