@charset "UTF-8";
/*CSS Document*/

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('../fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.hidden
{
	display: none;
}





































